/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: "Pirata One";
  src: url("./assets/fonts/PirataOne-Regular.ttf");
}

.font-pirata {
  font-family: "Pirata One";
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./assets/fonts/BarlowCondensed-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.font-barlow-condensed {
  font-family: "Barlow Condensed";
}